[submodule "components/msgpack-esp32/msgpack-c"]
	path = components/msgpack-esp32/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "components/picoruby-esp32/picoruby"]
	path = components/picoruby-esp32/picoruby
	url = https://github.com/picoruby/picoruby.git
[submodule "components/mem_allocator/tlsf"]
	path = components/mem_allocator/tlsf
	url = https://github.com/mattconte/tlsf.git
